/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}


/* BODY */

body{

background:
linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),
url("../img/prog.jpg");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

color:white;

}


/* TITULOS */

h1{

font-size:80px;
font-weight:700;
text-shadow:0px 8px 30px rgba(0,0,0,0.8);

}

h2,h3{

font-weight:600;

}


/* PANEL IZQUIERDO */

.left-panel{

color:white;
text-align:center;
padding:40px;
position:relative;
overflow:hidden;

}

.left-panel p{

font-size:1.2rem;
margin-top:10px;
color:#e4e4e4;

}


/* PANEL DERECHO */

.right-panel{

background:rgba(0,0,0,0.65);
backdrop-filter:blur(8px);
padding:60px 45px;
display:flex;
flex-direction:column;
justify-content:center;
border-left:1px solid rgba(0,0,0,0.65);

}

.right-panel h2,
.right-panel h3{

font-weight:700;
color:#ffffff;
margin-bottom:15px;

}

.right-panel p{

font-size:1rem;
line-height:1.7;
color:#e4e4e4;

}


/* TARJETAS PROYECTOS */

.project-card{

background:rgba(255,255,255,0.08);
border-radius:18px;
padding:20px;
margin-top:15px;
backdrop-filter:blur(6px);
border:1px solid rgba(255,255,255,0.1);
transition:transform .3s ease,box-shadow .3s ease;

}

.project-card:hover{

transform:translateY(-6px);
box-shadow:0 14px 30px rgba(0,0,0,0.4);

}

.project-card h5{

color:#B0E4CC;
font-weight:600;
margin-bottom:8px;

}


/* BOTON */

.btn-custom{

background:linear-gradient(135deg,#222831,#222831);
color:white;
border:none;
border-radius:30px;
padding:12px 24px;
margin-top:20px;
font-weight:600;
transition:.3s;
box-shadow:0 6px 20px #285A48;

}

.btn-custom:hover{

transform:scale(1.05);
color:white;

}


/* ICONOS */

.social-icons a{

color:#ffffff;
font-size:1.4rem;
margin-right:15px;
transition:.3s;

}

.social-icons a:hover{

color: #408A71;

}


/* RESPONSIVE */

@media (max-width:768px){

.left-panel,
.right-panel{

min-height:50vh;
padding:35px 25px;

}

h1{

font-size:42px;

}

}


.footer {
  background: #0f172a; /* oscuro */
  color: #e5e7eb;
  text-align: center;
  padding: 30px 20px;
}

.footer-nombre {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-icons {
  margin: 15px 0;
}

.footer-icons a {
  color: #408A71;
  margin: 0 10px;
  font-size: 22px;
  transition: 0.3s;
}

.footer-icons a:hover {
  color: #B0E4CC; /* verde lindo */
  transform: scale(1.2);
}

.footer-copy {
  font-size: 14px;
  opacity: 0.7;
}